<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/studentManagement</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Raghav@1234</property>

        <!-- <property name="hibernate.hbm2ddl.auto">create</property> but the problem here is it will create a new table everytime which we do not want-->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property> <!-- but here we can simply update the table everytime it can also handle the schema changes-->
        <property name="hibernate.show_sql">true</property>
<!--        <property name="hibernate.format_sql">true</property>-->

    </session-factory>
</hibernate-configuration>